{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto;
}
.nav {
    color: white;
    z-index: 100;
    padding: 20px 80px;
}
.brand {
    font-size: 24px;
    font-weight: bold;
}
.nav-items {
    display: inline-block;
    margin: 0px 10px;
}
.nav-items span {
    margin: 0px 10px;
}
.landing-page {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/netflix_login1.jpg");
}
.title {
    position: absolute;
    top: 50%;
    left: 10%;
}
.title h3 {
    font-size: 46px;
    color: white;
}
.title button{
    margin-top: 10px;
    padding: 5px 10px;
    width: 120px;
    font-size: 18px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
    color: black;
}
.trans-button {
    background-color: grey;
    opacity: 0.5;
    color: white;
}
.movie-wrapper {
    padding: 30px;
    position: absolute;
    top: 80%;
}
.movie-wrapper p {
    font-size: 22px;
    color: white;
}
.movie-container {
    display: flex;
    flex-wrap: wrap;
}
.movie-box {
    width: 300px;
    margin: 5px;
    border-radius: 3px;
}
.nav-class c {
    height: 10px;
}